@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{    
    display: flex;
    font-family: Helvetica, sans-serif;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    overflow: scroll;
    margin:0px;
    background-color: #ccd2d8;
    display: flex;
    flex-direction: column;
    font-family: 'VT323', monospace;
}

nav{
    height:150px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

nav > img{
    width: 100px;
    object-fit:contain
}

.heading{
    text-align: center;
}

#modal{
    height: 320px;
    width:350px;
    background-color: beige;
    position: absolute; /* or position: fixed; */
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    z-index: 3; /*fix positioning*/
    display: none;

}

input{
    max-width:150px;
    margin: auto;
}


.checkmark{
    max-width:150px;
    margin: auto;
}

.submit{
    max-width:150px;
    margin: auto;
}

.exitModal{
    display: flex;
    align-self: flex-end;
    margin:1rem;
    border-radius: 50%;

}



.library{
    height: 100vh;
    width: 100vw;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book-card{
    display: flex;
    height: 220px;
    width:250px;
    background-color: beige;
    margin:2rem;
    padding:1rem;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}